<div>
  <div class="leaderboard-bg">
    <div class="player-3" v-if="leaderboard.data?.[2]">
      <img class="mx-auto" :src="leaderboard.data?.[2].avatar" />
      <h1 class="my-2">{{leaderboard.data?.[2]?.name}}</h1>
      <p>#3</p>
    </div>
    <div class="player-2" v-if="leaderboard.data?.[1]">
      <img class="mx-auto" :src="leaderboard.data?.[1].avatar" />
      <h1 class="my-2">{{leaderboard.data?.[1].name}}</h1>
      <p>#2</p>
    </div>
    <div class="player-1" v-if="leaderboard.data?.[0]">
      <img class="mx-auto" :src="leaderboard.data?.[0].avatar" />
      <h1 class="my-2">{{leaderboard.data?.[0].name}}</h1>
      <p>#1</p>
    </div>
  </div>
  <div class="leaderboard-players noscrollbar"> 
    <div class="leaderboard-player"  v-show="index > 2"  v-for="(i, index) in leaderboard.data" >
      <div class="flex items-center gap-x-3">
        <p class="leaderboard-level">#{{index+1}}</p>
        <p class="leaderboard-name">{{i.name}}</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="leaderboard-level-2">Lv.{{i.level}}</p>
        <inlinesvg src="./assets/images/level-icon-2.svg"></inlinesvg>
      </div>
    </div>
  </div>
</div>
